.akita-content p {
    line-height: 25px;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* - - - - - Screen Query - - - -  -*/
@media screen and (max-width: 1000px) {
    h3 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .akita-content-black p, .akita-content-grey p {
        font-size: 12px;
        line-height: 20px;
    }
}