h1 {
    text-transform: uppercase;
    font-size: 152px;
    text-align: center;
    margin-top: 230px;
    margin-bottom: 10px;
}

p {font-size: 15px; line-height: 25px;}

.link-text {
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.8em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
    font-size: 25px;
    color: #11749e;
}

.btn-scroll-down {
    text-align: center;
}

.btn-scroll-down p {
    margin-bottom: 20px;
}

.btn-down:hover {
    transform:rotateY(360deg);
    transition: all 1.5s ease;
    cursor: pointer;
}

/* - - - - - Screen Query - - - -  -*/
@media screen and (max-width: 1000px) {
    h1 {font-size: 100px;}
    .link-text { font-size: 16px;}
}

@media screen and (max-width: 600px) {
    h1 {font-size: 60px;}
    .link-text {font-size: 10px;}
}
