* { margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gotham', sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body * {overflow: hidden;}
html {color: white; scroll-behavior: smooth;}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1170px;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

/* ----- FONTS ----- */

@font-face {
    font-family: "Gotham";
    src: url("/public/fonts/Gotham/GothamLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}